{% extends 'giturdone_quiz/base.html' %}

{% block title %}Git Ur Done{% endblock %}



{% block body %}
<div class="w3-container w3-blue">
    <p><center><h3>What in the world is Git Ur Done?  Git Ur Done is a web software application developed by Gil Rael using the Python Django Web Framework
    that tests your Git knowledge and helps you to learn to use Git.  What is Git?  Git is a software version control system used by software engineers in software development projects.
    Please, register in order to begin using Git Ur Done.  Once, you have registered you can begin to use the application to learn
    Git version control and you will also have access to our resources page with some of the best videos and websites on
    Git to supplement your learning here on Git Ur Done.
    <br>
    <br>
    <br>
    <img src="/static/images/git_overview.png" style="width:300px;height:300px;" align="middle">
    </p></center></h3>


<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}
