<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feynman_Technique_Quiz</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">

<!-- TODO add most popular Git YouTube videos to this page - research how to search YouTube for most popular video -->
<!-- TODO add most popular Git websites to this page - research how to search Google for most popular web sites -->
<!-- TODO change YouTube button colors to red instead of blue -->




<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}

</style>

</head>
<body>
<div class="w3-container" style="background-color: red;">
{% if request.user.is_authenticated %}
  <h1>Welcome {% if request.user.first_name %}
      {{ request.user.first.name }}
      {% else %}
      {{ request.user.username }}
      {% endif %}
      - Git Ur Done<br>
      <img src="/static/images/git.png" style="width:50px;height:50px;"> <font size="1">{{ DATE_TIME }}</font>
  </h1>
{% else %}
<h1> Welcome Git Ur Done</h1> <img src="/static/images/git.png" style="width:50px;height:50px;">
{% endif %}
</div>


<div class="w3-container w3-yellow">
<img src="/static/images/dj.png" style="width:25" align="right">
<br>
{% if request.user.is_authenticated %}
<h3>
    <a href="http://localhost:8000/" target="_blank">About |</a>   <a href="http://localhost:8000/quiz_selection/" target="_blank">Quiz Selection |</a> <a href="http://localhost:8000/quiz/resources/" target="_blank">Resources |</a>  <a href="http://localhost:8000/quiz/" target="_blank">Quiz |</a> <a href="http://localhost:8000/account/logout" target="_blank">Logout</a>
</h3>
{% else %}
<h3>
<a href="http://localhost:8000/" target="_blank">About |</a>   <a href="http://localhost:8000/account/register" target="_blank">Register |</a>    <a href="http://localhost:8000/account/login/"target="_blank" >Login</a>
</h3>
{% endif %}
<br>
<br>
<br>
<br>
<p>
<center><img src="/static/images/richard_feynman.png" style="width250px:height250px" align="center"></center>

<h3 style="text-align:justify;">
<br>
Richard Feynman was born on May 11, 1918 and lived until February 15, 1988.  He was a<br>
brilliant American theoretical physicist.  He was also an excellent teacher and had the <br>
ability to explain even the most complex ideas and concepts in simple easy to understand<br>
language.  The Feynman technique which is explained below is named after<br>
<a href="https://en.wikipedia.org/wiki/Richard_Feynman" target="_blank"> Richard Feynman.</a><br>
<br>
Step 1
<br>
Write the name of the concept at the top of a blank piece of paper.<br>
<br>
Step 2<br>

Write down an explanation of the concept on the page. Use plain English. Pretend you are teaching it to someone else (e.g a new student). This should highlight what you understand, but more importantly pinpoint what you don't quite know.<br>
<br>
Step 3<br>

Review what you have pinpointed you don't know. Go back to the source material, re-read, and re-learn it.<br>Repeat Step 2.<br>
<br>
Step 4
<br>
If you are using overly wordy or confusing language (or simply paraphrasing the source material) try again so you filter the content. Simplify your language, and where possible use simple analogy.
Conclusion

That's it. A simple and powerful technique to ensure you can rapidly learn and retain new concepts and information.
</h3>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
<!--<div class="w3-container w3-blue">
  <h5>

  </h5>
  <p><center>Web Design & Application Development By - <a href="http://facebook.com/gil.rael.37/" target="_blank">Gil Rael</a><br>
Software Developed By A Nerd For Nerds</center></p>
</div>-->
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: red;">
    <div class="container">
        <p class="navbar text"><center>Web Design & Application Development By - <a href="http://facebook.com/gil.rael.37/" target="_blank">Gil Rael</a><br>
Software Developed By A Nerd For Nerds</center></p>
    </div>
</div>

</head>
</body>
</html>

