{% extends 'giturdone_quiz/base.html' %}

{% block title %}Git Ur Done Resources{% endblock %}



{% block body %}
<div class="w3-container w3-yellow">

<div class="jumbotron">
    <center><h3 class="display-3">Git Presentations & Websites</h3></center>
    </div>

    <br>
        <br><ul><li><h3>Linus Torvalds Presentation @ Google On Git</h3></li>
        <a href="https://www.youtube.com/watch?v=idLyobOhtO4 target=" button type="button" background-color="red" class="btn btn-lg btn-danger" disabled>YouTube</button></a>


    <br>
    <br><li><h3>Basics Of Git & Github</h3></li>
        <a href="https://www.youtube.com/watch?v=U8GBXvdmHT4 target=" button type="button" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
    <br>
    <br><li><h3>O'Reilly Webcast: Git in One Hour</h3></li>
        <a href="https://www.youtube.com/watch?v=OFkgSjRnay4 target=" button type="button" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
    <br></ul>
<br>
<br>
    <ul><li><h3>Git SCM</h3></li>
    <a href="https://git-scm.com/" button type="button" class="btn btn-lg btn-primary" disabled>Git-SCM.com</button></a>
    <li><h3>Git Hub.io</h3></li>
    <a href="https://try.github.io/" button type="button" class="btn btn-lg btn-primary" disabled>Git-Hub.io</button></a>
    </ul>
<br>
<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}







 <div class="jumbotron">
  <center><h3 class="display-3">Git Presentations & Websites</h3></center>
 </div>

<br>
    <br><ul><li><h3>Linus Torvalds Presentation @ Google On Git</h3></li>
    <a href="https://www.youtube.com/watch?v=idLyobOhtO4 target=" button type="button" background-color="red" class="btn btn-lg btn-danger" disabled>YouTube</button></a>


<br>
<br><li><h3>Basics Of Git & Github</h3></li>
    <a href="https://www.youtube.com/watch?v=U8GBXvdmHT4 target=" button type="button" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
<br>
<br><li><h3>O'Reilly Webcast: Git in One Hour</h3></li>
    <a href="https://www.youtube.com/watch?v=OFkgSjRnay4 target=" button type="button" class="btn btn-lg btn-danger" disabled>YouTube</button></a>
<br></ul>
<br>


