{% extends 'giturdone_quiz/base.html' %}

{% block title %}SA Quiz Graphs{% endblock %}

{% block head %}

<div class="w3-container w3-blue">

{% endblock %}


{% block body %}
<div class="w3-container w3-yellow">


<center>
<h1 style="color:blue"> Short Answer Quiz Graphs </h1>
</center>
<br>

<!--<h3>{{question1}} .... {{question2}}...{{question3}}....{{question4}}....{{question5}}</h3>-->


<canvas id="myChart" width="400" height="400"></canvas>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["{{question1}}", "{{question2}}", "{{question3}}", "{{question4}}", "{{question5}}"],
        datasets: [{
            label: 'Questions Most Frequently Answered Incorrectly',
            data: [{{question1_total_wrong_answers}}, {{question2_total_wrong_answers}}, {{question3_total_wrong_answers}}, {{question4_total_wrong_answers}}, {{question5_total_wrong_answers}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


<p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
{% endblock %}