<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Selection</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}
</style>

</head>
<body>
<div class="w3-container" style="background-color: red;">
{% if request.user.is_authenticated %}
  <h1>Welcome {% if request.user.first_name %}
      {{ request.user.first.name }}
      {% else %}
      {{ request.user.username }}
      {% endif %}
      - Git Ur Done<br>
      <img src="/static/images/git.png" style="width:50px;height:50px;"> <font size="1">{{ DATE_TIME }}</font>
  </h1>
{% else %}
<h1> Welcome Git Ur Done</h1> <img src="/static/images/git.png" style="width:50px;height:50px;">
{% endif %}
</div>



<div class="w3-container w3-yellow">
<img src="/static/images/dj.png" style="width:25" align="right">
<br>
{% if request.user.is_authenticated %}
<h3>
    <a href="http://localhost:8000/" target="_blank">About |</a>   <a href="http://localhost:8000/quiz_selection/">Quiz Selection |</a> <a href="http://localhost:8000/quiz/resources/" target="_blank">Resources |</a>  <a href="http://localhost:8000/quiz/">Quiz |</a> <a href="http://localhost:8000/account/logout" target="_blank">Logout</a>
</h3>
{% else %}
<h3>
<a href="http://localhost:8000/" target="_blank">About |</a>   <a href="http://localhost:8000/account/register" target="_blank">Register |</a>    <a href="http://localhost:8000/account/login/"target="_blank" >Login</a>
</h3>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>
<ul>
<li>[1] Git Basics</li>
<li>[2] Git Undoing Changes</li>
<li>[3] Git Rewriting History</li>
<li>[4] Git Branches</li>
<li>[5] Git Remote Repositories</li>
<li>[6] Git Config</li>
<li>[7] Git Log</li>
<li>[8] Git Diff</li>
<li>[9] Git Reset</li>
<li>[10] Git Rebase</li>
<li>[11] Git Pull</li>
<li>[12] Git Push</li>
</ul>
</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="POST" action="/short_answer_quiz/">
{% csrf_token %}
  <table>{{ form.as_table }}</table>
   <p><label for="id_name"> Please, type in the number that corresponds to the quiz that you would like to take then click submit
and click on the Quiz menu option to take your quiz.</label>
<input class="textinput textInput form-control" id="id_name" maxlength="100" name="textfield" type="text" style="width:400px"/></p>
  <input type="submit" value="Submit" maxlength="30"/>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</p>
</div>
<!--<div class="w3-container w3-blue">
  <h5>

  </h5>
  <p><center>Web Design & Application Development By - <a href="http://facebook.com/gil.rael.37/" target="_blank">Gil Rael</a><br>
Software Developed By A Nerd For Nerds</center></p>
</div>-->
<div class="navbar navbar-default navbar-fixed-bottom" style="background-color: red;">
    <div class="container">
        <p class="navbar text"><center>Web Design & Application Development By - <a href="http://facebook.com/gil.rael.37/" target="_blank">Gil Rael</a><br>
Software Developed By A Nerd For Nerds</center></p>
    </div>
</div>

</head>
</body>
</html>
